* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100vh;
  background: #01203f;
}

.container .player-0-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 200px;
  font-weight: bold;
  height: 80vh;
  width: 350px;
  overflow: hidden;
  background: #fff;
  border-radius: 25px 0px 0px 25px;
}

.container .player-1-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 200px;
  font-weight: bold;
  height: 80vh;
  width: 350px;
  overflow: hidden;
  background: #fff;
  border-radius: 0 25px 25px 0;
}

.container .active {
  font-size: 25px;
  background: #fec33b;
}

.container .active::before {
  position: absolute;
  content: 'Active';
  font-size: 50px;
  top: 250px;
  color: rgba(255, 255, 255, 0.5);
}

.container .player-game-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 70px;
  position: absolute;
  font-size: larger;
}

.container .player-game-info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
}

.container #new-game, .container #roll, .container #hold {
  cursor: pointer;
  padding: 5px 25px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(50%, #fec33b));
  background: linear-gradient(to right, #fff 50%, #fec33b 50%);
}

.container .dice {
  height: 100px;
  width: 100px;
  border-radius: 25px;
  -webkit-box-shadow: 2px 2px 4px black;
          box-shadow: 2px 2px 4px black;
}
/*# sourceMappingURL=style.css.map */